body {
    font-family: 'Lato';
    margin: 0;
}

header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}

footer {
  
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 143, 102);
}

main {

    background-image: url("/img/pokemon_logo.jpg");
    background-size: cover; 
    background-repeat: repeat-y;
    background-position: center;
    height: 850px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.input-search-styling::placeholder{
    font-weight: bold;
    font-size: 16px;
    
}

.input-search-styling{
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 6px;
    padding-bottom: 8px;
    border-radius: 4px;
}

.load-more-button {
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    border: 1px solid black;
    border-radius: 8px;
}

.load-more-pokemon-span{
    font-size: 16px;
    font-weight: 700;
    color: white;
}


.load-more-button{
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.load-more-button:hover{
    cursor: pointer;
    user-select: none;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  
}


.pokemon-card{
    display: flex;
    flex-direction: column;
    border-radius: 8px;

 
   color: black;
   width: 300px;
   height: 200px;
    opacity: 0.9;
    margin: 24px;
   background-color: green;
}