body {
    font-family: 'Lato';
    margin: 0;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid #271bd3;
}

body::-webkit-scrollbar-track {
    background: #a2aa56;
}

.d-none {
    display: none !important;
}

.header-image-sandamer {
    margin-left: 10px;
}

header {

    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
}

.glumande-and-search {
    display: flex;
    width: 60%;
    justify-content: flex-end;
    margin-right: 40px;
    align-items: center;
}

footer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 143, 102);
}

.detailview-single-card-styling {
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 560px;
    height: 800px;
    border-radius: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.dark-overlay-styling {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.close-button-large-card-styling {
    transition: scale 0.3s ease;
}

.close-button-large-card-styling:hover {
    cursor: pointer;
    background-color: rgb(156, 151, 151);
    border-radius: 50%;
    scale: 110%;
}

main::-webkit-scrollbar {
    width: 0;
}

main {
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-image: url("/img/pokemon_logo.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
    height: 850px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.input-search-styling::placeholder {
    font-weight: bold;
    font-size: 16px;
}

.input-search-styling {
    height: 20px;
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 6px;
    padding-bottom: 8px;
    border-radius: 4px;
}

.load-more-button {
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    border: 1px solid black;
    border-radius: 8px;
}

.load-more-pokemon-span {
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.pokemon-image-small-card {
    scale: 140%;
}

.load-more-button {
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.load-more-button:hover {
    cursor: pointer;
    user-select: none;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.whole-pokemon-card {
    user-select: none;
    margin: 20px;
    width: 280px;
    height: 250px;
    border-radius: 8px;
    opacity: 0.8;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.whole-pokemon-card:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
}

.upper-div-small-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-name-small-card-span {
    font-size: 24px;
    font-weight: bold;
}

.pokeID-small-card-span {
    font-size: 16px;
}

.lower-div-small-card {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    height: 100%;
}

.lower-small-card-left {
    font-size: 16px;
    margin-right: 10px;
}

.lower-left-small-height {
    padding-left: 4px;
}

.normal {
    background-color: #cfcfc3;
}

.fighting {
    background-color: #cf887c;
}

.flying {
    background-color: #b5d9ff;
}

.poison {
    background-color: #b486dc;
}

.ground {
    background-color: #c09d74;
}

.rock {
    background-color: #cfc393;
}

.bug {
    background-color: #b2d369;
}

.ghost {
    background-color: #997b9a;
}

.steel {
    background-color: #c3c3cf;
}

.fire {
    background-color: #ff7a60;
}

.water {
    background-color: #6bb9eb;
}

.grass {
    background-color: #91d08b;
}

.electric {
    background-color: #ffe64c;
}

.psychic {
    background-color: #ff91a6;
}

.ice {
    background-color: #9dddd2;
}

.dragon {
    background-color: #889ad1;
}

.dark {
    background-color: #837c7c;
}

.fairy {
    background-color: #f1b0ed;
}

.backwards-button-styling:hover {
    cursor: pointer;
    scale: 110%;
}

.forward-button-styling:hover {
    cursor: pointer;
    scale: 110%;
}

.pokemon-type-small-card {
    background-color: #f1f0f0;
    border-radius: 4px;
    opacity: 0.4;
    filter: saturate(2);
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.type-div-smallcard-styling {
    padding-top: 30px;
}

.pokemon-image-small-card-for-hover:hover {
    scale: 120%;
}

.pokemon-image-small-card {
    transition: transform 0.3s ease;
}

.pokemon-image-small-card:hover {
    transform: scale(1.3);
}

.standard-back {
    z-index: 0;
}

.close-section-large-card {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 10px;
}

.pokemon-name-large-card-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pokemon-name-large-card-styling {
    font-size: 36px;
}

.single-large-card-styling {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.type-div-large-card {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.lower-section-large-card {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    flex: 1;
    background-color: white;
    border-radius: 16px;
}

.lower-large-card-flex-container {
    display: flex;
    justify-content: center;
}

.image-div-large-card {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    scale: 300%;
}

.about-div-large-card {
    padding-right: 100px;
}

.about-span-styling {
    font-size: 24px;
    user-select: none;
}

.about-span-styling:hover {
    cursor: pointer;
    scale: 110%;
}

.stats-span-styling {
    font-size: 24px;
    user-select: none;
}

.stats-span-styling:hover {
    cursor: pointer;
    scale: 110%;
}

.bold-underline {
    font-weight: bold;
    text-decoration: underline;
}

.about-category-span {
    font-size: 20px;
    font-weight: bold;
}

.about-value-span {
    margin-left: 20px;
    font-size: 20px;
}

.rendered-about-section {
    margin-top: 32px;
    display: flex;
}

.about-category-div {
    margin: 8px;
    margin-left: 48px;
}

.header-image-and-title {
    display: contents;
}

.title-span-header {
    margin-left: 10px;
    font-weight: bold;
    font-size: 48px;
}

@media(max-width:620px) {

    .detailview-single-card-styling {
        width: 300px;
        height: 460px;
        top: 40%;
        border-radius: 16px;
    }

    .previous-pokemon-responsive {
        display: block !important;
    }

    .previous-pokemon-responsive:hover {
       cursor: pointer;
    }

    .next-pokemon-responsive {
        display: block !important;
    }
    .next-pokemon-responsive:hover {
       cursor: pointer;
    }

    .backwards-button-styling {
        display: none;
    }

    .forward-button-styling {
        display: none;
    }

    .type-div-large-card {
        text-align: center;
    }

    .header-image-sandamer {
        display: none;
    }
}

@media(max-width:470px) {

    header {
        display: flex;
        flex-direction: column;
    }

    .title-span-header {
        padding-top: 20px;
    }

    .glumande-and-search {
        padding-bottom: 10px;
        width: 100%;
        justify-content: center;
    }
}